
*.apk
My project/build_BurstDebugInformation_DoNotShip/tempburstlibs/armeabi-v7a/lib_burst_generated.txt
My project/Library/
My project/Logs/
My project/Temp/
My project/Assembly-CSharp-firstpass.csproj
My project/Library/Artifacts/2f/2f7c1289af400f25692be62625f3255a
